@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

body{
	margin: 0;
	padding: 0;
	background-color: #0e0208;
}

header{
	background-color: #000000;
	padding: 15px 15px 0px;
	display: flex;
  	align-items: center;
  	justify-content: flex-end;
}

a{
	font-family: 'Gemunu Libre', sans-serif;
	text-decoration-line: none;
	color: #FC0378;
	margin-right: 20px;
}

a:hover {
  color: #be31ef;
  cursor: pointer;
  font-weight: bold;
}

.icono{
	font-size: 23px;
	margin-right: 904px;
    margin-left: 40px;
}

.capitulo{
  color: #f176de;
  font-weight: bold;
}

main{
	display: grid;
  	justify-content: center;
  	padding-top: 16px;
}

article{
	font-family: 'Viga', sans-serif;
	color: coral;
    display: flex;
    flex-direction: column;
    width: 691px;
    margin: auto;
    padding-bottom: 18px;
}

h1{
	font-family: 'Viga', sans-serif;
	text-align: center;
	color: #f0e68c;
	font-size: 40px;
	border-bottom: #4c040b 11px solid;
}

p{
	margin: 0px 46px 0px;
	font-size: 23px;
	text-align: center;
}

strong{
	color: #ed143d;
}

h3{
	text-align: center;
	font-size: 24px;
    margin: 0;
    color: #8c4f70;
}

video{
	margin-top: 48px;
}

form{
	margin-bottom: 30px;
}

form p{
	font-family: 'Gemunu Libre', sans-serif;
	color: #FC0378;
	margin: 0 0 13px;
	text-align: initial;
}

label{
	display: flex;
	font-family: 'Gemunu Libre', sans-serif;
	color: #FC0378;
	font-size: 21px;
}

input{
	background-color: #89d2b7;
	border: 0;
    width: 384px;
    margin-left: 10px;
}

button{
	margin-left: 10px;
    color: #ed147e;
    background-color: black;
}

footer{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 42px;
  	font-size: 1.1em;
  	margin-top: 9px;
}

footer a{
	font-family: 'Gemunu Libre', sans-serif;
	display: flex;
   	align-items: center;
   	justify-content: center;
   	margin-right: 29px;
  	margin-left: 26px;
  	color: #000000;
  	text-decoration: none;
  	background-color: #8e489a;
  	width: 80px;
  	height: 18px;
  	border-bottom: 7px solid;
}

footer a:hover {
  	color: #FFFFFF;
  	background-color: #030325f5;
  	cursor: pointer;
  	border-color: 1px solid black;
}