@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');

body{
	margin: 0;
	padding: 0;
	background-color: #10010dfa;
}

header{
	background-color: #000000;
	padding: 15px;
	display: flex;
  align-items: center;
  justify-content: flex-end;
}

a{
	font-family: 'Gemunu Libre', sans-serif;
	text-decoration-line: none;
	color: #FC0378;
	margin-right: 20px;
}

a:hover {
  color: #be31ef;
  cursor: pointer;
  font-weight: bold;
}

.heroinas{
	background-color: #fc0378;
  color: #000000;
  font-weight: bold;
}

.heroinas:hover{
	background-color: #be31ef;
  color: #000000;
}

.icono{
	font-size: 23px;
	margin-right: 904px;
  margin-left: 40px;
}

div{
	display: flex;
  justify-content: space-around;
  margin-top: 45px;
}

.contenedor_2{
  margin: 84px 37px;
}
img{
	box-shadow: -9px 7px 14px #ec3595;
	height: 369px;
	border-radius: 23px;
}

footer{
	display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  font-size: 1.1em;
  margin-top: 64px;
}

footer a{
	font-family: 'Gemunu Libre', sans-serif;
	display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 58px;
  color: #000000;
  text-decoration: none;
  background-color: #a52a2a;
  width: 80px;
  height: 18px;
  border-bottom: 7px solid;
}

footer a:hover {
  color: #FFFFFF;
  background-color: #030325f5;
  cursor: pointer;
  border-color: 1px solid black;
}