@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap');

body{
	margin: 0;
	padding: 0;
	background-color: #10010dfa;
}
header{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

h1{
  width: 100%;
	margin-top: 23px;
	color: #FC0378;
	font-family: 'Akronim', cursive;
  font-size: 2em;
  text-shadow: -7px 0px 1px #0000008c, 
                0px 0px 49px #a42241c4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.luna{
	height: 93px;
}
main{
	display: flex;
  flex-direction: column;
	justify-content: center;
}

div{
	margin-right: 76px;
  margin-left: 73px; 
  background-color: #000000;  
}

a{
  text-decoration: none;
}

main .card_1:hover {
  color: #000000;
  background-color: #210312c4;
  cursor: pointer;
}

.card_2:hover {
  color: #000000;
  background-color: #030325f5;
  cursor: pointer;
  border-color: 1px solid black;
}

.card_1{
  margin: auto;
  margin-bottom: 50px;
  width: 90%;
  padding: 7px;
	border: 2px solid #fd0152;
  border-top-color: #ff00a5;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
}

.card_2{
  margin: auto;
  width: 90%;
  padding: 7px;
	border: 2px solid #1101fd;
  border-top-color: #810eff;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
}

.card_1 h2{
	text-align: center;
	font-family: 'Nova Square', cursive;
  font-size: 2em;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fd0152;
}

.card_2 h2{
	text-align: center;
	font-family: 'Nova Square', cursive;
  font-size: 2em;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #8c17f7;
}

.card_1 img{
	box-shadow: 0px 5px 17px #fd0152;
}

.card_2 img{
	box-shadow: 0px 5px 17px #8c17f7;
}

.card img{
	width: 100%;
	border-radius: 24px;
}

footer{
  width: 100%;
	display: flex;
  justify-content: space-around;
  align-items: center;
  height: 42px;
  margin-top: 64px;
}

footer a{
  font-size: 1em;
	font-family: 'Gemunu Libre', sans-serif;
	display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
  background-color: #a52a2a;
  height: 18px;
  border-bottom: 7px solid;
}

footer a:hover {
  color: #FFFFFF;
  background-color: #030325f5;
  cursor: pointer;
  border-color: 1px solid black;
}

/* Views Tablet */
@media(min-width: 768px) {

  h1{
    font-size: 3em;
  }

  .luna {
    height: 127px;
  }

  footer a{
    font-size: 1.2em;
  }
}

/* Views Laptop */
@media(min-width: 1024px) {

  header{
    margin-top: 10px;
  }

  main{
    flex-direction: inherit;
    margin-top: 60px;
  }

  .card_1{
    margin-bottom: 0;
    width: 45%;
  }

  .card_2{
    width: 45%;
  }

  footer{
    margin-top: 180px;
  }
}

/* Views Laptop - L*/
@media(min-width: 1440px) {

  h1 {
    font-size: 4em;
  }

  .luna {
    height: 170px;
  }

  footer {
    margin-top: 145px;
  }
}