@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

body{
  margin: 0;
  padding: 0;
  background-color: #0c0415;
}

header{
  background-color: #000000;
  padding: 15px 0px;
	display: flex;
  align-items: center;
  justify-content: space-around;
}

a{
  font-family: 'Gemunu Libre', sans-serif;
  text-decoration-line: none;
  color: #FC0378;
  font-size: 0.8em;
}

a:hover {
  color: #be31ef;
  cursor: pointer;
  font-weight: bold;
}

.icono{
	font-size: 20px;
}

.villanas{
  color: #f176de;
  font-weight: bold;
}

main{
  display: grid;
  justify-content: center;
  padding-top: 16px;
}

img{
  height: 205px;
  margin: auto;
  border-radius: 69px;
}

article{
  margin: auto;
	width: 90%;
  border: 1px #8309ef solid;
  border-radius: 23px;
  box-shadow: 0px 1px 17px #673ab7;
  background-color: #080404;
}

h1{
  font-family: 'Birthstone Bounce', cursive;
  font-size: 3em;
  margin-top: 19px;
  color: #4a00bd;
  text-align: center;
  text-shadow: 1px 2px 1px #08de86;
}

p{
  font-family: 'Caveat Brush', cursive;
  color: #00c9d4bf;
  text-align: justify;
  font-size: 1.2em;
	margin: 15px;
}

strong{
  color: #e00f6eed;
}

footer{
  width: 100%;
	display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 42px;
  font-size: 1.3em;
  margin-top: 75px;
}

footer a{
  font-family: 'Gemunu Libre', sans-serif;
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
  background-color: #8e5ef3;
  height: 18px;
  border-bottom: 7px solid;
}

footer a:hover {
  color: #FFFFFF;
  background-color: #030325f5;
  cursor: pointer;
  border-color: 1px solid black;
}

/* Views Tablet */
@media(min-width: 768px) {

  a{
    font-size: 1em;
  }
}

/* Views Laptop - L*/
@media(min-width: 1440px) {

  img{
    margin-top: 45px;
  }

  h1{
    font-size: 4em;
  }

  article{
    width: 30%;
  }

  p{
    font-size: 1.5em;
  }

  footer{
    width: 30%;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 100px;
  }

}