@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');

body{
	margin: 0;
	padding: 0;
	background-color: #10010dfa;
}

header{
  width: 100%;
	background-color: #000000;
	padding: 15px 0px;
	display: flex;
  align-items: center;
  justify-content: space-around;
}

a{
	font-family: 'Gemunu Libre', sans-serif;
	text-decoration-line: none;
	color: #FC0378;
	font-size: 0.8em;
}

a:hover {
  color: #be31ef;
  cursor: pointer;
  font-weight: bold;
}

.villanas{
	background-color: #9c27b0;
  color: #000000;
  font-weight: bold;
}

.villanas:hover{
	background-color: #FC0378;
  color: #000000;
}

.icono{
	font-size: 23px;
}

div{
	display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.contenedor_1 {
  margin-top: 50px;
}

main div a img{
  width: 100%;
  margin-bottom: 45px;
	box-shadow: -9px 7px 14px #ec3595;
	height: 369px;
	border-radius: 23px;
}

footer{
	display: flex;
  justify-content: space-around;
  align-items: center;
  height: 42px;
  font-size: 1.1em;
  margin-top: 25px;
}

footer a{
	font-family: 'Gemunu Libre', sans-serif;
	display: flex;
  align-items: center;
  font-size: 1em;
  color: #000000;
  text-decoration: none;
  background-color: #a52a2a;
  height: 18px;
  border-bottom: 7px solid;
}

footer a:hover {
  color: #FFFFFF;
  background-color: #030325f5;
  cursor: pointer;
  border-color: 1px solid black;
}

/* Views Tablet */
@media(min-width: 768px) {

  a{
    font-size: 0.8em;
  }

  div{
    justify-content: space-evenly;
    flex-direction: inherit;
    width: 100%;
  }
}

/* Views Laptop - L */
@media(min-width: 1024px) {

  a {
    font-size: 1em;
  }

  footer{
    justify-content: space-evenly;
  }
}